@model MedicalRegistration1.Models.PatientDto
@{
    ViewBag.Title = "View";
}


<a href="/Patient/List"">Go back to List</a>
<h2>@Model.PatientFirstName</h2>
<h2>@Model.PatientLastName</h2>
<div> @Model.BloodGroupName</div>
